{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "declaration-block-trailing-semicolon": "always"
}
